aws_region         = "ap-southeast-2"
project            = "CloudMigration"
environment        = "dev"
name_prefix        = "scos-dev"
vpc_cidr           = "10.20.0.0/16"
allowed_admin_cidr = "203.0.113.10/32"
create_nat_gateway = true
